/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-muted-blue: #666ca3;
  --vt-c-dark-blue: #13183f;
  --vt-c-gray: #83869a;
  --vt-c-hot-pink: #f74780;
  --vt-c-pink: #ffa7c3;

  --vt-c-white: #ffffff;
  --vt-c-off-white: #F0F1FF;

  --vt-g-start-1: #ff6f48;
  --vt-g-end-1: #f02aa6;

  --vt-g-start-1-hover: rgb(255, 111, 72, 0.5);
  --vt-g-end-1-hover: rgb(240, 42, 166, 0.5);

  --vt-g-start-2: #4851ff;
  --vt-g-end-2: #f02aa6;

  --vt-g-start-2-hover: rgb(72, 81, 255, 0.5);
  --vt-g-end-2-hover: rgb(240, 42, 166, 0.5);

  --vt-c-text-light-1: var(--vt-c-dark-blue);
  --vt-c-text-light-2: var(--vt-c-gray);
}

/* semantic color variables for this project */
:root {
  --color-background: linear-gradient(var(--vt-c-white), var(--vt-c-off-white));

  --color-button-1: var(--vt-c-dark-blue);
  --color-button-1-hover: var(--vt-c-muted-blue);

  --color-button-2: linear-gradient(var(--vt-g-start-1), var(--vt-g-end-1));
  --color-button-2-hover: linear-gradient(
    var(--vt-g-start-1-hover),
    var(--vt-g-end-1-hover)
  );

  --color-button-3: linear-gradient(var(--vt-g-start-2), var(--vt-g-end-2));
  --color-button-3-hover: linear-gradient(
    var(--vt-g-start-2-hover),
    var(--vt-g-end-2-hover)
  );

  --color-product-cta: linear-gradient(var(--vt-g-start-1), var(--vt-g-end-1));
}

/* semantic font variables for this project */
:root {
  --heading-xl: 800 56px/70px "Plus Jakarta Sans";
  --heading-l: 800 40px/51px "Plus Jakarta Sans";
  --heading-m: 800 32px/40px "Plus Jakarta Sans";
  --heading-s: 800 24px/32px "Plus Jakarta Sans";

  --body-m: 500 18px/28px "Plus Jakarta Sans";
  --body-s: 500 16px/26px "Plus Jakarta Sans";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
